* {
    box-sizing: border-box;
}

body{
    margin:0;
}

header {
    background-color: darkblue;
    height: 60px; 
    padding: 10px;
}

header h1  {
    margin: 0px;
}

main {
    display: flex;
}

.citySection{
    flex: 1;
    margin-left: 16px;
}

#city-form {
    display: flex;
    flex-direction: column;
}

#weatherInfo {
    flex: 3;
}